grant codeBase "file:${catalina.home}/bin/tomcat-juli.jar" {
       permission java.io.FilePermission "/usr/share/tomcat8-dater/dater/WEB-INF/classes/logging.properties", "read";
};
