/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-family: cursive;
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 40px;
  text-align: center;
  background-color: coral;
}

h2 {
  font-family: cursive;
  font-size: 1.5em;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

.myhugeborder {
	border: 10px solid yellowgreen;
}

.mylittleborder {
	border: 1px solid black;
}

.myrotate {
	display: inline-block;
	-moz-transform: rotate(90deg);  /* FF3.5+ */
	-o-transform: rotate(90deg);  /* Opera 10.5 */
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);  /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; /* IE8 */
	transform: rotate(90deg);  /* MS Edge? */
}

.mylargefont {
	font-size: 24px;
}

.mybottom {
    position: fixed;
    bottom: 0;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
